$primary-color: rgb(10, 20, 30);
$secondary-color: rgb(230, 230, 152);

// アニメーション名
@keyframes fadeIn {

    // スタート
    0% {
        opacity: .4
    }

    // エンド
    100% {
        opacity: 1
    }
}


@mixin verticalItem($type) {
    display: flex;
    display: -webkit-flex;
    /* 縦方向中央揃え（Safari用） */
    -webkit-align-items: $type;
    /* 縦方向中央揃え */
    align-items: $type;
    height: inherit;
}

@mixin horizontalItem($type) {
    display: flex;
    display: -webkit-flex;
    /* 横方向中央揃え（Safari用） */
    -webkit-justify-content: $type;
    /* 横方向中央揃え */
    justify-content: $type;
    width: inherit;
}